/* Todos.module.css */

.todos{

    width: 50%;
    height: 60vh;

    overflow-y: auto;

    padding: 1rem;

    border-radius: 20px;

    background: rgba(255,255,255,0.08);

    backdrop-filter: blur(12px);

    border: 1px solid rgba(255,255,255,0.1);

    box-shadow:
        0 8px 32px rgba(0,0,0,0.3);
}

/* Scrollbar */

.todos::-webkit-scrollbar{
    width: 8px;
}

.todos::-webkit-scrollbar-track{
    background: transparent;
}

.todos::-webkit-scrollbar-thumb{
    background: linear-gradient(
        #00dbde,
        #fc00ff
    );

    border-radius: 20px;
}